@keyframes fade-in {
    from {opacity: 0;}
    to {opacity: 1;}
}

/* Title */

h1 {
    font-weight: 300;
    margin: 2vh 0 5vh;
}

/* Contact Us Page Grid */

.grid {
    grid-template-areas: 
        'form faq'
        'contact faq';
    padding: 0 2vw; /* total horizontal padding 4vw, adding it from .form and .faq widths would make it 100vw (no horizontal overflow)*/
}

.box {
    height: 100%;
    background-color: #FFFF;
    padding: 1vw;
}

.form {
    grid-area: form;
    width: 40vw; /* limits the length of form width */
    border-bottom: 0.1px solid #d1d1d1;
}

.faq {
    grid-area: faq; 
    width: 56vw;
    background-color: #EDE6E6;
    padding: 1vw 3vw;
}

.contact {
    grid-area: contact;
    width: 40vw;
}

/* Contact Form */

#contact-form {
    display: flex;
    flex-direction: column; /*arranges form components in a vertical direction*/
}

.form-row {
    display: flex;
    flex-direction: column; /*arranges form components in a vertical direction*/
}

label {
    height: 4vh;
}

input {
    height: 6vh; /* width is automatically set to 100% of its container (which is the 'form' grid box*/
}

input, textarea {
    border: 1px solid grey;
    font-size: 12px;
    padding: 1vw;
    margin-bottom: 1.5vw;
    border-radius: 0.3vw;
    transition: border 0.1s ease-out;
}

textarea {
    width: 38vw;
    height: 30vh;
    resize: none;
}

input:focus, textarea:focus {
    border: 3px solid #06c;
    outline: none;
}


::placeholder, input, textarea { /* all inputs placeholders font type style */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


button {
    width: 10vw;
    height: 5vh;
    color: white;
    background-color: #1A6DCE;
    border-radius: 0.5vw;
    border: 2px solid #1A6DCE;
    margin: 3vh auto;
    outline: none; /*removes black border (outline) when button is activated (on click)*/
    transition: box-shadow 0.2s;
}

button:hover {
    box-shadow: 
         2px 2px 7px rgb(144, 192, 255),
         -2px -2px 7px rgb(144, 192, 255);
}

/* FAQs */

table {
    border-collapse: collapse;
    width: 100%; /* 100% of its container (which is the 'faq' grid box */
    cursor: pointer;
}

table td {
    border: 1px solid black;
    padding: 1vw;
    transition: all 0.2s;

}

table td:hover, .question-container.expanded {
    background-color: #d6cece;
}

.question {
    display: flex;
    justify-content: space-between;
}

.question.bold {
    font-weight: 600;
}

.dropdown-arrow {
    width: 1vw;
}

.dropdown-text {
    display: block;
    margin-top: 1vw;
    animation: fade-in 0.3s;
}

.dropdown-text.hidden {
    display: none;
}

.more-info {
    text-decoration: none;
    color: #06c;
    margin-top: 5vh;
}

.more-info:hover {
    text-decoration: underline;
}

/* Contact Information */

h2 {
    font-weight: 300;
    padding: 2vh 0;
    margin-bottom: 2vh
}

.contact {
    display: flex;
    flex-direction: column;
}

.contact img {
    width: 2vw;
    margin-right: 2vw
}

.info {
    display: flex;
    flex-direction: row;
    margin-bottom: 5vh;
}

.info a {
    color: #424245;
    text-decoration: none;
}

.info a:hover {
    text-decoration: underline;
}

#map {
    width: 100%;
    height: 100%;
    border: 0;
}


