/*grd for entire body within main*/

.grid-edu {
    display: grid;
    grid-template-areas: 'picture-intro picture-intro picture-intro' 'intro intro intro' 'head-intro head-intro head-intro' 'sub-intro1 sub-intro2 sub-intro3' 'head-mac head-mac head-mac' 'picture-mac picture-mac picture-mac' 'intro-mac intro-mac intro-mac' 'sub-mac1 sub-mac2 sub-mac3' 'glass-mac glass-mac glass-mac';
    grid-gap: 0vw;
    background-color: rgba(255, 182, 193, 1);
}


/* grid-edu part for all attribute*/

.grid-edu * {
    text-align: center;
}


/*grid-edu h1 size*/

.grid-edu h1 {
    font-size: 55px;
}


/*paragraph size*/

.grid-edu p {
    font-size: 25px;
}


/*sub size*/

.grid-edu sub {
    font-size: 25px;
    font-weight: 600;
}


/*box represent as the whole webpage layout*/

.box {
    height: 100%;
    padding: 0%;
    background-color: rgba(255, 255, 255, 0);
}


/* declare the area in grid for first row*/

.picture-intro,
.picture-intro img {
    grid-area: picture-intro;
    width: 100%;
    height: 100%;
}


/*intro part for picture only (second row)*/

.intro {
    grid-area: intro;
    background-color: rgba(0, 0, 0, 0.95);
    color: #f0f0f0;
    padding: 7% 15% 7% 15%;
}

.intro p {
    padding: 7% 18% 7% 18%;
    line-height: 2em;
}


/*third row (Apple and education part)*/

.head-intro {
    grid-area: head-intro;
    padding: 7% 15% 7% 15%;
    background-color: aliceblue;
}


/*fourth row first column and third column (Performance and Productivity)*/

.sub-intro1 {
    grid-area: sub-intro1;
    padding: 7% 20% 7% 20%;
    background-color: rgba(240, 248, 255, 1);
}


/* sub intro 1 and 3 sub text part*/

.sub-intro1 sub,
.sub-intro3 sub {
    position: relative;
    /*applied to make the the position to parents*/
    bottom: -3vh;
    /* make sure it can move upward of 3vh*/
    opacity: 0;
    /*totally transparent*/
}


/*appeared More details text, it will disappear when it hover*/

.sub-intro1 p,
.sub-intro2 p,
.sub-intro3 p,
.sub-mac1 p,
.sub-mac2 p,
.sub-mac3 p {
    position: relative;
    font-weight: bold;
    font-style: italic;
    color: rgba(0, 0, 255, 0.74);
    top: 5vh;
}


/*More details text disappear*/

.sub-intro1:hover p,
.sub-intro2:hover p,
.sub-intro3:hover p,
.sub-mac1:hover p,
.sub-mac2:hover p,
.sub-mac3:hover p {
    opacity: 0;
}


/*hover then the text will appear within 0.7sec*/

.sub-intro1:hover sub,
.sub-intro3:hover sub {
    bottom: 0vh;
    opacity: 1;
    transition: all 0.7s linear;
}


/*fourth row second column (second sub intro (Light part)) applied same as sub intro 1 */

.sub-intro2 {
    grid-area: sub-intro2;
    background-color: rgba(240, 248, 255, 1);
    padding: 7% 20% 7% 20%;
}

.sub-intro2 sub {
    position: relative;
    top: -3vh;
    opacity: 0;
}

.sub-intro2:hover sub {
    top: 0vh;
    opacity: 1;
    transition: all 0.7s linear;
}


/*fourth row third column (productivity part) padding all same*/

.sub-intro3 {
    grid-area: sub-intro3;
    padding: 7% 20% 7% 20%;
    background-color: rgba(240, 248, 255, 1);
}


/*fifth row (mac product part) some intro and picture*/

.head-mac {
    grid-area: head-mac;
    background-color: rgba(255, 182, 193, 0.7);
    padding: 7% 15% 7% 15%;
}

.picture-mac {
    grid-area: picture-mac;
    background-color: rgba(255, 182, 193, 0.7);
}

.picture-mac img {
    width: 70%;
    padding: 0;
    height: 100%;
}

.photo {
    opacity: 0;
    transition: opacity 0.7s ease-in;
}

.photo.appear {
    opacity: 1;
}

.intro-mac {
    grid-area: intro-mac;
    padding: 7% 15% 7% 15%;
    line-height: 2em;
    background-color: rgba(255, 182, 193, 0.7);
}

.intro-mac h1 {
    color: rgba(180, 94, 94, 0.637);
}


/*all sub mac have same background color and padding*/

.sub-mac1,
.sub-mac2,
.sub-mac3,
.sub-mac1 p,
.sub-mac2 p,
.sub-mac3 p {
    background-color: rgba(255, 182, 193, 0.7);
    padding: 7% 15% 7% 15%;
    color: #d40000;
}

.sub-mac1 {
    grid-area: sub-mac1;
}


/*all same as sub intro part*/

.sub-mac1 sub,
.sub-mac3 sub {
    position: relative;
    top: -3vh;
    opacity: 0;
}

.sub-mac1:hover sub,
.sub-mac3:hover sub {
    top: 0vh;
    opacity: 1;
    transition: all 0.7s linear;
}

.sub-mac2 {
    grid-area: sub-mac2;
}

.sub-mac2 sub {
    position: relative;
    bottom: -3vh;
    opacity: 0;
}

.sub-mac2:hover sub {
    bottom: 0vh;
    opacity: 1;
    transition: all 0.7s linear;
}

.sub-mac3 {
    grid-area: sub-mac3;
}


/*get some comments from some students in official website*/

.glass-mac {
    grid-area: glass-mac;
    margin: auto;
    padding: 7% 15% 7% 15%;
    background: linear-gradient(135deg, rgb(201, 75, 75), rgb(236, 174, 174));
    max-width: 70%;
    max-height: 85%;
    border-radius: 25px;
    opacity: 0.8;
}

.glass-mac blockquote {
    font-size: 35px;
    font-weight: bolder;
    padding: 0% 10% 5% 10%;
    color: #4b0000;
}

.glass-mac cite {
    font-size: 21px;
    font-weight: 500;
    color: #660202;
}


/* h1*/

.head h1 {
    background-color: #000000;
    color: #f0f0f0;
}


/* footer part*/

footer {
    background-color: rgba(255, 190, 200, 0.719);
}