/*grid for entire body within main*/

.grid-healthcare {
    display: grid;
    grid-template-areas: 'picture-intro picture-intro picture-intro' 'intro intro intro' 'head-intro head-intro head-intro' 'sub-intro1 sub-intro2 sub-intro3' 'head-mac head-mac head-mac' 'picture-mac picture-mac picture-mac' 'intro-mac intro-mac intro-mac' 'sub-mac1 sub-mac2 sub-mac3' 'glass-mac glass-mac glass-mac';
    grid-gap: 0vw;
    background-color: rgba(136, 247, 186, 0.836);
}


/* grid-edu part for all attribute*/

.grid-healthcare * {
    text-align: center;
}


/*grid-edu h1 size*/

.grid-healthcare h1 {
    font-size: 55px;
}


/*paragraph size*/

.grid-healthcare p {
    font-size: 25px;
}


/*sub size*/

.grid-healthcare sub {
    font-size: 25px;
    font-weight: 600;
}


/*box represent as the whole webpage layout*/

.box {
    height: 100%;
    padding: 0%;
    background-color: rgba(136, 247, 186, 0.836);
}


/* declare the area in grid for first row*/

.picture-intro {
    grid-area: picture-intro;
    position: relative;
}

.picture-intro img {
    width: 100%;
    height: 100%;
    filter: brightness(0.6);
}

.picture-intro p {
    color: whitesmoke;
    position: absolute;
    top: 40vh;
    bottom: 40vh;
    left: 5vw;
    right: 5vw;
    font-size: 5vw;
    font-weight: 700;
}


/*intro part for picture only (second row)*/

.intro {
    grid-area: intro;
    background-color: rgba(240, 202, 100, 0.95);
    color: #683001;
    padding: 7% 15% 7% 15%;
}

.intro p {
    padding: 7% 18% 7% 18%;
    line-height: 2em;
}

.intro a {
    color: #683001;
    font-size: 20px;
    text-decoration: none;
}

.intro a:hover {
    text-decoration: underline;
}

.intro a:visited {
    color: #522601;
}


/*third row (Apple and education part)*/

.head-intro {
    grid-area: head-intro;
    padding: 7% 15% 7% 15%;
    background-color: aliceblue;
}


/*fourth row first column and third column (Performance and Productivity)*/

.sub-intro1 {
    grid-area: sub-intro1;
    padding: 7% 20% 7% 20%;
    background-color: rgba(240, 248, 255, 1);
}


/* sub intro 1 and 3 sub text part*/

.sub-intro1 sub {
    position: relative;
    /*applied to make the the position to parents*/
    bottom: -5vh;
    /* make sure it can move upward of 3vh*/
    opacity: 0;
    /*totally transparent*/
}

.sub-intro3 sub {
    position: relative;
    /*applied to make the the position to parents*/
    bottom: -5vh;
    /* make sure it can move upward of 3vh*/
    opacity: 0;
    /*totally transparent*/
}


/*appeared More details text, it will disappear when it hover*/

.sub-intro1 p,
.sub-intro2 p,
.sub-intro3 p,
.sub-mac1 p,
.sub-mac2 p,
.sub-mac3 p {
    position: relative;
    font-weight: bold;
    font-style: italic;
    color: rgba(0, 0, 255, 0.74);
    padding: 15% 15% 15% 15%;
    top: 5vh;
}


/*More details text disappear*/

.sub-intro1:hover p,
.sub-intro2:hover p,
.sub-intro3:hover p,
.sub-mac1:hover p,
.sub-mac2:hover p,
.sub-mac3:hover p {
    opacity: 0;
}


/*hover then the text will appear within 0.7sec*/

.sub-intro1:hover sub {
    bottom: 5vh;
    opacity: 1;
    transition: all 0.7s linear;
}

.sub-intro3:hover sub {
    bottom: 5vh;
    opacity: 1;
    transition: all 0.7s linear;
}


/*fourth row second column (second sub intro (Light part)) applied same as sub intro 1 */

.sub-intro2 {
    grid-area: sub-intro2;
    background-color: rgba(240, 248, 255, 1);
    padding: 7% 20% 7% 20%;
}

.sub-intro2 sub {
    position: relative;
    top: -15vh;
    opacity: 0;
}

.sub-intro2:hover sub {
    top: -5vh;
    opacity: 1;
    transition: all 0.7s linear;
}


/*fourth row third column (productivity part) padding all same*/

.sub-intro3 {
    grid-area: sub-intro3;
    padding: 7% 20% 7% 20%;
    background-color: rgba(240, 248, 255, 1);
}


/*fifth row (mac product part) some intro and picture*/

.head-mac {
    grid-area: head-mac;
    background-color: rgba(136, 247, 186, 0.836);
    padding: 7% 15% 7% 15%;
}

.picture-mac {
    grid-area: picture-mac;
    background-color: rgba(136, 247, 186, 0.836);
    opacity: 0;
    transition: all 1s ease-in;
}

.picture-mac img {
    width: 100%;
    padding-left: 25%;
    height: 100%;
}

.photo {
    opacity: 1;
}

.intro-mac {
    grid-area: intro-mac;
    padding: 7% 15% 7% 15%;
    line-height: 2em;
    background-color: rgba(136, 247, 186, 0.836);
}

.intro-mac h1 {
    color: rgba(0, 121, 46, 0.637);
}


/*all sub mac have same background color and padding*/

.sub-mac1,
.sub-mac2,
.sub-mac3,
.sub-mac1 p,
.sub-mac2 p,
.sub-mac3 p {
    background-color: rgba(136, 247, 186, 0.836);
    padding: 7% 15% 7% 15%;
    color: rgb(0, 121, 46);
}

.sub-mac1 {
    grid-area: sub-mac1;
}


/*all same as sub intro part*/

.sub-mac1 sub,
.sub-mac3 sub {
    position: relative;
    top: -3vh;
    opacity: 0;
}

.sub-mac1:hover sub,
.sub-mac3:hover sub {
    top: 0vh;
    opacity: 1;
    transition: all 0.7s linear;
}

.sub-mac2 {
    grid-area: sub-mac2;
}

.sub-mac2 sub {
    position: relative;
    bottom: -3vh;
    opacity: 0;
}


/*content appear when it hover*/

.sub-mac2:hover sub {
    bottom: 0vh;
    opacity: 1;
    transition: all 0.7s linear;
}

.sub-mac3 {
    grid-area: sub-mac3;
}


/*get some comments from some students in official website*/

.glass-mac {
    grid-area: glass-mac;
    margin: auto;
    padding: 7% 15% 7% 15%;
    background: linear-gradient(135deg, rgb(31, 180, 98), rgb(174, 236, 202));
    max-width: 70%;
    max-height: 90%;
    border-radius: 25px;
    opacity: 0.8;
}


/*the content in glass*/

.glass-mac blockquote {
    font-size: 35px;
    font-weight: bolder;
    color: #003d00;
}


/*the last part of citation*/

.glass-mac cite {
    font-size: 21px;
    font-weight: 500;
    color: #003d00;
}


/* h1*/

.head h1 {
    background-color: #000000;
    color: #f0f0f0;
}


/* footer part*/

footer {
    background-color: rgba(180, 248, 211, 0.836);
}