.container {
    display: flex;
    justify-content: center;
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
    align-items: center;
    background-color: black;
}

.animation {
    width: 1400px;
    height: 770px;
    border-radius: 5px;
    overflow: hidden;
}

.slides {
    width: 1400px;
    height: 770px;
    display: flex;
}

.slides input {
    display: none;  
}

.boxslide {
    width: 100%;
    transition: 2s;
}
.boxslide img {
    width: 1400px;
    height: 770px;
}

.man-anim {
    position: absolute;
    width: 1400px;
    margin-top: -25px;
    display: flex;
    justify-content: center;
}

.man-btn {
    border: 1px solid white;
    padding: 6px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}

.man-btn:not(last-child){
    margin-left: 40px;
    margin-right: 20px;
}

.man-btn:hover {
    background-color: bisque;
}

#btn1:checked ~ .first{
    margin-left: 0;
}

#btn2:checked ~ .first{
    margin-left: -100%;
}

#btn3:checked ~ .first{
    margin-left: -200%;
}

#btn4:checked ~ .first{
    margin-left: -300%;
}

.auto-anim {
    position: absolute;
    display: flex;
    margin-top: 745px;
    width: 1400px;
    justify-content: center;
}

.auto-anim div {
   border: 1px solid white;
   padding: 6px;
   border-radius: 10px;
   transition: 0.5s; 
}

.auto-anim div:not(last-child) {
    margin-left: 40px;
    margin-right: 20px;
}

#btn1:checked ~ .auto-anim .auto-btn1 {
    background: white;
}

#btn2:checked ~ .auto-anim .auto-btn2 {
    background: white;
}

#btn3:checked ~ .auto-anim .auto-btn3 {
    background: white;
}

#btn4:checked ~ .auto-anim .auto-btn4 {
    background: white;
}

.box {
    display: grid;
    row-gap: 5px;
    grid-template-rows: auto auto;
    background-color: rgba(0, 0, 0, 0.95);
    padding: 5px;
    height: auto;
}

.gridbox {
    background: (0, 0, 0, 0.7);
    height: auto;
    padding: 25px;
}

.textbox {
    float: right;
    text-align: center;
    color: white;
    align-self: center;
}

.textbox > p {
    text-align: center;
    padding-top: 50px;
}

#imgmap {
    position: relative;
}


.popup {
    margin-left: 10px;
    padding: 30px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    display: block;
    opacity: 0;
    transform: scale(0);
    transition: opacity 300ms, transform 300ms;
    border-radius: 10px;
}

.popup > .close {
    cursor: pointer;
    position: absolute;
    font-size: 26px;
    right: 0px;
    top: 0px;
    color: black;
    padding: 5px, 10px;
}

.popup > .close:hover {
    color: aqua;
}

.popup:target {
    opacity: 1;
    transform: scale(1);
}

.modaltext {
    margin: 20px;
    color: black;
    line-height: 25px;
    font-weight: 100;
    font-size: 18px;
    text-align:justify;
}

.imagebox {
    margin-top: 20px;
    text-align: center;
}