* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: medium;
}

/* Navbars */

#static-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.6vw 1vw 1vw;
    background: none; /* bg color changes according to mouse coordinates (in main.js)  */
}

#sticky-nav {
    position: sticky;
    z-index: 10; /* put it at most top layer, prevents other positioned elements from overlapping sticky nav */
    top: 0; /*when reaches top 0 (touches border), turns to fixed positioning)*/
    display: flex;
    justify-content: space-between;
    padding: 1vw 18vw;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.7);  
    backdrop-filter: blur(10px);
    border-top: 0.1px solid #d1d1d1;
    border-bottom: 0.1px solid #d1d1d1;
}


@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) { /*support query: declaration only takes effect depending on a browser's support*/
    #sticky-nav {
      backdrop-filter: blur(20px);
    }
}

#static-nav img {
    margin-right: 2vw;
    margin-top: 0.5vw;
    align-self: center;
    transition: filter 0.3s;

}

#static-nav img:hover {
    filter: brightness(80);
}

#static-nav li,
#sticky-nav li {
    display: inline-block;
}

#static-nav li a,
#sticky-nav li a {
    color: #A29696;
    margin: 0 1vw;
    font-size: 0.7em;
    list-style-type: none;
    text-decoration: none;
    transition: all 0.3s;
}

#static-nav li a:hover {
    color: #d1bdbd;
}

#sticky-nav li a:hover {
    color: #06c;
}

#nav-title {
    color: black;
    font-size: 1.2em;
    font-weight: 600;
    text-decoration: none;
}

#sticky-nav #button-buy {
    color: #FFFF;
    background-color: #0071e3;
    border-radius: 2vw;
    padding: 0.3vw 1vw;
}

/* Home Page Grid */

.grid {
    display: grid;
    grid-gap: 0.5vw;
    grid-template-areas: 
    'featured featured featured featured'           /*distribute area and define area position for all div*/
    'phones laptops watches tablets'
    'reviews reviews reviews reviews'
    'events events healthcare healthcare'
    'education education business business';
}

.box {
    width: 100%;
    height: 500px;
    background-color: rgb(182, 180, 180);
    padding: 1vw;
}

/* Slideshow box*/
.box.featured {
  position: relative;
  height: 600px;
  background-color: black;
  
}

/*fit the slide into the div box*/
.slides.fade img{
    width:100%; 
    height: 585px;
}

/* Next, previous button */
.previous, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 18px;
  border-radius: 0 3px 3px 0;
  user-select: none;        /* prevent being highligted when double click */
}

.previous{
    padding-left: 0;
}

/* Put next button to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* Number text */
.number {
  color: hsl(0, 0%, 100%);
  font-size: 18x;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.fade {
  animation-name: fade;
  animation-duration: 2.0s;     /*fade animation time*/
}                                  
                                   
@keyframes fade {
  from {opacity: .4}       /*previous animation dissapear, next image appear*/
  to {opacity: 1}
}



.box.phones,.box.laptops,.box.watches,.box.tablets{
    position: relative;
}

.link{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.box.laptops{
    background-color: rgb(222, 145, 145);
}

.box.laptops img{
    width: 100%;
    height: 400px;                         /*let the image perfectly fit into the div box*/
    padding-top: 20%;
}

.box.phones{
    background-color: rgb(255, 252, 252);
}

.box.phones img{
    width: 100%;
    height: 430px;                   /*let the image perfectly fit into the div box*/
}

.box.watches{
    background-color: black;
}

.box.watches h2{
    color:white;
}

.box.watches img{
    width: 100%;
    height:430px;
}

.box.tablets{
    background-color: rgb(212, 170, 99);
}
.box.tablets img{
    width: 100%;
    height: 430px;                /*let the image perfectly fit into the div box*/
    
}

.box.reviews{
    position: relative;
    height: 600px;
    background-color: rgba(39, 199, 188, 0.9904);
}

.box.reviews h2{
    color: black;
    text-align: center;
}

.box.reviews img{
    width: 100%;             /*let the image perfectly fit into the div box*/
    height: 530px;
}

.box.events {
    background-color: black;
    position: relative;
}

.box.events h2{
    color: white;
    text-align: center;

}

.box.events img{
    width: 100%;             /*let the image perfectly fit into the div box*/
    height:420px;
}


.box.healthcare{
    background-color: rgb(130, 214, 214);
    position: relative;
}

.box.healthcare h2{
    text-align: center;
}
.box.healthcare img{
    width:100%;                        /*let the image perfectly fit into the div box*/
    height:420px;
}

.box.education{
    background-color: rgb(150, 201, 221);
    position: relative;
}

.box.education img{
    width:100%;
    height:420px;                   /*let the image perfectly fit into the div box*/
}

.box.education h2{
    text-align: center;
}

.box.business{
    background-color: rgba(140, 140, 254, 0.974);                 
    position: relative;
}

.box.business img{
    width:100%;                            /*let the image perfectly fit into the div box*/
    height:420px;
}

.box.business h2{
    text-align: center;
}



.featured {grid-area: featured;}
.phones {grid-area: phones;}
.laptops {grid-area: laptops;}
.watches {grid-area: watches;}
.tablets {grid-area: tablets;}
.reviews {grid-area: reviews;}           /*define all the grid area name*/
.events {grid-area: events;}
.healthcare {grid-area: healthcare;}
.education {grid-area: education;}
.business {grid-area: business;}


/* Footer */
footer {
    background-color: #F5F5F7;
    padding-bottom: 5vw;
}

.horizontal-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 60vw;
    padding: 5vh 0;
    margin: 0 auto 3vh;
    border-bottom: 0.1px solid #d1d1d1;
}

.vertical-container {
    display: flex;
    flex-direction: column;
    align-items: left;
}

footer p {
    color: #1D1D1F;
    font-weight: 600;
    font-size: 0.8em;
    margin-top: 3vh;
    margin-bottom: 1.5vh;
}

footer a {
    color: #424245;
    font-size: 0.8em;
    text-decoration: none;
    margin-bottom: 1.5vh;
}

footer a:hover {
    text-decoration: underline;
}

#copyright{ /* copyright statement */
    text-align: center;
    font-size: 0.7em;
    font-weight: 400;
}

@media only screen and (min-width: 800px) {
    body {
        width: 100%;
    }
}

@media only screen and (max-width: 1024px) {
    body {
        width: 100%;
    }
}