h1 {
    font-weight: 300;
    margin: 1vh 0;
    text-align: center;
}

main {
    padding: 1vw;
}

#filter-btn-container {
    display: flex;
    justify-content: center;
    margin: 4vh 0;
}

#filter-btn-container label { /* radio buttons label */
    cursor: pointer;
    background-color: transparent;
    border: 0.3px solid #d1d1d1;
    border-radius: 0.5vw;
    padding: 0.5vw 0.7vw;
    margin: 0 0.5vw;
    z-index: 0; /* layer it under its radio button */
    transition: all 0.5s;
}

#filter-btn-container label:hover { 
    background-color: #d1d1d13f;
}

#filter-btn-container input:checked  + label { /* selects the first label placed immediately after that selected input*/
    background-color: #d1d1d1;
}

#filter-btn-container input {
    opacity: 0; /* hide radio button discs */
    z-index: 1; /* layer it above its label, to be selectable */
}

#products-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.product-box {
    margin: 0 1vw 2vw;
    padding: 1vw;
    overflow: hidden;
    position: relative; /* common combo for overlays: relative positioning for parent + absolute positioning for child */
    border-radius: 1vw;
    width: calc(100%/6); /* allocate a 3-col layout for each row */
    height: 5%;
    border: 0.1px solid #d1d1d1;

}

.product-box .product-img {
    width: 90%;
    transition: all 0.5s;
}

.product-box:hover .product-img {
    transform: scale(1.1);
}

.box-title {
    text-align: center;
}

/* Modal */

@keyframes fadeIn {
    from {
        opacity: 0;
        top: 5%;
    }
    to {
        opacity: 1;
        top: 8%;
    }
}

.modal {   
    display: none; 
    position: fixed;
    left: 3%;
    right: 3%; /* centering modal */
    width: 95%;
    background-color: rgba(255, 255, 255, 0.7);  
    backdrop-filter: blur(3vw);
    border-radius: 1vw;
    padding: 6vw 0 2vw;
    z-index: 2;
    animation: fadeIn 0.5s forwards;
}

.modal.active {
    display: block;
}

body.scroll_disabled { /* disable scrolling when modal is opened */
    overflow: hidden;
}

.modal-content {
    display: grid;
    grid-template-areas: 
    'modelImg modelTitle modelTitle modelTitle'
    'modelImg modelName modelColor modelCap'
    'modelSpecs price price price';
}

.modelImg {grid-area: modelImg;}
.modelTitle {grid-area: modelTitle;}
.modelName {grid-area: modelName;}
.modelSpecs {grid-area: modelSpecs;}
.modelColor {grid-area: modelColor;}
.price {grid-area: price;}
.modelCap {grid-area: modelCap;}

.modelImg img {
    width: 85%;
}

.modelTitle {
    padding-bottom: 3vw;
}

.modelTitle a {
    text-decoration: none;
    margin-left: 32vw;
    transition: all 0.3s;
}

.modelTitle a:hover {
    color: rgb(193, 193, 193);
}

.modelName,
.modelColor,
.modelCap {
    padding: 0 3vw;
}

.modelSpecs {
    padding: 0 3vw 7vw;
}

.modelSpecs ul {
    display: none; /* hide other specs first */
    animation: fadeIn 1s forwards;
    font-size: 0.8em;

}

.modelSpecs ul:first-of-type {
    display: block; /* only show first ul (default selected model) */
}

.modelName, 
.modelColor,
.modelCap {
    display: flex;
    flex-direction: column;
    border-right: 0.3px solid #d1d1d1;
}

.modelCap {
    border-right: none;
}

.modelCap span {
    margin-left: 3vw;
}

.modelName label,
.modelColor label,
.modelCap label { /* radio buttons label */
    cursor: pointer;
    background-color: transparent;
    border: 0.3px solid #d1d1d1;
    border-radius: 0.5vw;
    padding: 0.5vw 0.7vw;
    margin: 0 0.5vw;
    z-index: 0; /* layer it under its radio button */
    transition: background-color 0.2s;
}

.modelName label:hover,
.modelColor label:hover,
.modelCap label:hover { 
    background-color: #d5d5d5a1;
}

.modelName input:checked  + label,
.modelColor input:checked  + label,
.modelCap input:checked  + label { /* selects the first label placed immediately after that selected input*/
    border: 2px solid rgb(41, 152, 255);
    background-color: transparent;
}

.modelName input,
.modelColor input,
.modelCap input {
    opacity: 0; /* hide radio button discs */
    z-index: 1; /* layer it above its label, to be selectable */
}

li::marker { /* bullet points */
    color: #d1d1d1;
    font-size: 0.8em;
}

.price {
    padding: 3vw;
}

.price .number {
    font-size: 4em;
    font-weight: 700;
}



