h1 {
    font-weight: 300;
    margin: 3vh 0;
    text-align: center;
}

main {
    padding: 2vw;
}

#review-container {
    display: flex;
    flex-direction: column;
}

.review-rows {
    display: flex;
    flex-direction: row;

}

.review-text {
    padding: 0 5vw;
    font-size: 2vw;
    position: relative;
    top: 5vh;
    visibility: hidden;
    opacity: 0;
    transition: all 0.7s;
}

.review-box:hover .review-text {
    visibility: visible;
    opacity: 1;
    top: 0;

}

.reviewer-info {
    display: grid;
    grid-template-areas: 
        'avatar name'
        'avatar title';
}

.avatar {
    grid-area: avatar;
    width: 1.5vw;
    border-radius: 50%;
    justify-self: end;
}

.name {grid-area: name;}
.title {grid-area: title;}


