main {
    padding-left: 1vw;
    padding-right: 1vw;
}

.TV {
    padding-top: 1vw;
    padding-bottom: 1vw;
    height: 47vw;
    border-width: 0.2vw;
    border-style: solid;
    border-color: lightgrey;
    border-left: hidden;
    border-top: hidden;
    border-right: hidden;
}

.TV img { 
    width: 65%;
    padding-left: 26vw;
    position: relative;
    top: 5vw;
    left: 25vw;
}

.TV header { 
    padding-left: 9vw;
    font-size: 9vw;
    font-weight: 600;
    font-style: bold;
    position: absolute;
    top: 18vw;
}
.TV p {
    padding-left: 9vw;
    font-weight: 150; 
    font-size: 2.5vw;
    position: absolute;
    top: 33vw;
}
.Info {
    padding-top: 2.5vw;
    padding-bottom: 2vw;
    border-width: 0.2vw;
    border-style: solid;
    border-color: lightgrey;
    border-top: hidden;
    border-left: hidden;
    border-right: hidden;
}
.Info header{
    padding-left: 10vw;
    font-size: 5vw;
    font-weight: 500;
    font-style: bold;
}
.Info p{
    padding-top: 1.5vw;
    padding-left: 10.2vw;
    font-weight: 150; 
    font-size: 2vw;
}
