main div {
    border-width: 0.2vw;
    border-style: solid;
    border-color: lightgrey;
    border-left: hidden;
    border-top: hidden;
    border-right: hidden;
}

.TV {
    padding-top: 1vw;
    padding-bottom: 1vw;
    height: 47vw;
}

.TV img { 
    width: 65%;
    padding-left: 26vw;
    position: relative;
    top: 5vw;
    left: 25vw;
}

.TV header { 
    padding-left: 9vw;
    font-size: 9vw;
    font-weight: 600;
    font-style: bold;
    position: absolute;
    top: 18vw;
}

.TV p {
    padding-left: 9vw;
    font-weight: 150; 
    font-size: 2.5vw;
    position: absolute;
    top: 33vw;
}

.Info {
    color: aliceblue;
    background-color: rgb(26, 26, 26);
    padding-top: 2.5vw;
    padding-bottom: 2vw;
}

.Info img {
    filter: blur(5px);
    width: 100%;
    opacity: 50%;
    position: relative;
    top: 0vw;
}

.Info header{
    filter: drop-shadow(3px 3px 1px rgba(0, 0, 0, 0.884));
    padding-left: 10vw;
    font-size: 5vw;
    font-weight: 500;
    font-style: bold;
    position: absolute;
    top: 69.5vw;
}

.Info p{
    filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.884));
    padding-top: 1.5vw;
    padding-left: 18.5vw;
    font-weight: 150; 
    font-size: 2vw;
    position: absolute;
    top: 76.5vw;
}
