html {
    scroll-behavior: smooth;
}

.Watch {
    padding-top: 1vw;
    padding-bottom: 1vw;
    height: 59vw;
}

.Watch img { 
    width: 65%;
    padding-left: 26vw;
    position: relative;
    top: 5vw;
    left: 25vw;
    transition: opacity 0.5s;
}

.Watch header { 
    padding-left: 9vw;
    font-size: 7vw;
    font-weight: 600;
    position: absolute;
    top: 18vw;
}

.Watch p {
    padding-left: 9vw;
    font-weight: 150; 
    font-size: 2.5vw;
    position: absolute;
    top: 30vw;
}

.Info_rows {
    display: table;
    width: 100%;
    table-layout: fixed;
    border-spacing: 0px;
}
.Info_box {
    padding-top: 2vw;
    padding-bottom: 2vw;
    position: relative;
    padding-left: 2vw;
    display: table-cell;
    border-style: solid;
    border-color: lightgrey;
    border-width: 0.1vw;
    border-top: hidden;
    border-bottom: hidden;
    transition: 0.5s;
}
.Info_box img { 
    width: 25%;
}
.Info_box h1 {
    padding-left: 15vw;
    text-align: center;
    position: absolute;
    color: black;
    font-size: 2.5vw;
    font-weight: 650;
}
#box1 h1 { top: 2.2vw; right: 5vw; }
#box2 h1 { top: 2.2vw; right: 5vw; }
#box3 h1 { top: 2.2vw; right: 4.7vw; }

/* pop out effect */
.Info_box:hover {
    background-color: lightgrey;
    transform: scale(1.05, 1.05);
}

.Info_section h1 {
    font-size: 8vw;
    font-weight: 600;
}
.Info_section p {
    font-size: 2vw;
    font-weight: 200;
}
.Info_section img { width: 15%; }

.section {
    height: 25vw;
    position: relative;
    padding-left: 5vw;
    padding-top: 4.4vw;
    padding-bottom: 2vw;
    transition: 0.5s;
}

/* blur and text slide out effect */
.section { transition: 0.5s; }
.section h1,
.section p {transition: 0.5s;}
.Info_section:hover .section { filter: blur(5px);}
.section:hover h1,
.section:hover p { transform: translateX(-20px);}
#durable:hover h1,
#durable:hover p { transform: translateX(20px);}
#fast-charge:hover { filter: blur(0px); }
#durable:hover { filter: blur(0px); }
#fitness:hover { filter: blur(0px); }

#fast-charge { background-image: linear-gradient(to left, rgb(255, 110, 110), white); }
#fast-charge h1 {
    position: absolute;
    top: 3vw;
    right: 5vw;
}
#fast-charge p {
    padding-left: 40vw;
    text-align: right;
    position: absolute;
    top: 15vw;
    right: 5vw;
}

#durable { background-image: linear-gradient(to right, rgb(33, 253, 88), white); }
#durable img {
    position: absolute;
    right: 3vw;
}
#durable p {
    position: absolute;
    top: 16vw;
    left: 5.5vw;
}

#fitness { background-image: linear-gradient(to left, rgb(113, 139, 255), white); }
#fitness h1 {
    position: absolute;
    top: 4vw;
    right: 5vw;
}
#fitness p {
    padding-left: 40vw;
    text-align: right;
    position: absolute;
    top: 15vw;
    right: 5vw;
}